
mode = gh_class
use_pkl_dict = True
storage_mode = all
[image]
    mode = PIXELS_TIMING_3C
    scale_factor = 2
    dtype = uint16
    dim_ordering = channels_last	
[telescope]
    type_mode = SCT
[energy_bins]
    units = TeV
    scale = log10
    min = -1.0
    max = 0.5
    bin_size = 0.5
[preselection_cuts]
    MSCW = -2.0, 2.0
    MSCL = -2.0, 5.0
    EChi2S = 0.0, None
    ErecS = 0.0, None
    EmissionHeight = 0.0, 50.0
    MC_Offset = MCxoff, MCyoff, 0.0, 3.0
    NImages = 3, None
    dES = 0.0, None
[energy_recon]
    gamma_only = True
    energy_bin_label = int32
    [[bins]]
        units = TeV
        scale = log10
        min = -2.0
        max = 2.0
        bin_size = 0.05

