name: Release CD

on:
  release:
    types: [published]
  pull_request:
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Publish release to PyPI
    environment:
      name: pypi 
      url: https://pypi.org/project/dl1-data-handler/
    permissions:
      id-token: write
      contents: write
      deployments: write
      statuses: write
      actions: write
      checks: read
    strategy:
      matrix:
        os: [ubuntu-22.04]
        pyv: ['3.12']
      max-parallel: 5
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.pyv }}
        activate-environment: dl1dh

    - name: Create conda environment with ctapipe
      run: |
        conda create -y -n dl1dh -c conda-forge python==${{ matrix.pyv }} ctapipe
        conda activate dl1dh
        python --version
        pip install --upgrade pip build

    - name: Build package
      run: |
        python -m build

    - name: Publish package distributions to PyPI
      if: github.event_name == 'release'
      uses: pypa/gh-action-pypi-publish@release/v1
